.lobby {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-light);
  height: 100vh;
  width: 100vw;
}
.lobby__main{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.lobby__title {
  font-size: 32px;
  color: #000;
  margin-bottom: 16px;
}
.lobby__button {
  color: #000;
  background-color: #44aa66;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
}
.dark-mode-bg {
  background-color: var(--color-bg-dark);
  color: var(--color-bg-light);
}
.dark-mode--buttonLink{
  background-color: var(--color-second-green);
}
.dark-mode--text{
  color: var(--color-bg-light);
}