:root {
  --bg-Modal-light: #fff;
}
* {
  list-style: none;
}
.Overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.Modal {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: var(--bg-Modal-light);
  width: 90%;
  height: 70%;
  border-radius: 10px;
  padding: 10px;
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: var(--bg-Modal-light);
  width: 90%;
  height: 70%;
  border-radius: 10px;
  padding: 10px; */
}

.title {
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

.escape {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.escapeIcon {
  font-size: 24px;
}
.darkMode {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: start;
  position: relative;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--color-primary-blue);
  color: var(--bg-Modal-light);
}
.containerChild {
  height: 100%;
}
@media (max-width: 768px) and (min-width: 481px) {
  .title {
    font-size: 28px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
}

@media (max-width: 1200px) and (min-width: 1025px) {
}

@media (min-width: 1201px) {
}
