.OptionTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 5px;
}
.dark-mode--optionTable {
  border-bottom: 1px solid var(--color-primary-blue);
}
.OptionTable__title--container {
  text-align: center;
}
.OptionTable__title {
  font-size: 24px;
  font-weight: normal;
}
.dark-mode--titleTable {
  color: var(--color-primary-blue);
}
