.Header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #999;
}

.header__Button__icon {
  font-size: 24px;
}
